* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2C3E50;
    min-height: 70px;
    color: white;
    font-weight: bold;
}

nav .row {
    width: 100%;
}

nav i {
    color: #91979D;
}

#jumbotron {
    background-color: #1ABB9C;
    min-height: 300px;
}


#jumbotron img {
    width: 30%;
}

[class*="col-"] {
    justify-content: center;
    align-items: center;
}

#about {
    background-color: #1ABB9C;
    color: white;
}

/* #form {
    width: 80%;
} */

#portfolio {
    padding-bottom: 45px;
}

#portfolio img {
    border-radius: 10px;
    margin-top: 15px;
}

#last-hr {
    margin-top: 200px;
}

#top-footer {
    background-color: #3A546D;
    color: white;
}

#bottom-footer {
    background-color: #2C3E50;
    color: white;
}

footer span {
    display: block;
}

footer i {
    color: white;
}