* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #2C3E50;
}


header .row {
    width: 100%;
    margin: 0 auto;
}

#jumbotron {
    background-color: #1ABB9C;
    min-height: 300px;
    color: white;
}


#jumbotron img {
    width: 50%;
}

#competenze {
    font-size: 13px;
}

#about {
    background-color: #1ABB9C;
    color: white;
}


#portfolio {
    padding-bottom: 45px;
}

#portfolio img {
    border-radius: 10px;
    margin-top: 15px;
}

.btn-green {
    background-color: #1ABB9C;
    color: white;
    border: none;
}

.btn-green:hover {
    color: white;
    opacity: 0.8;
}

#top-footer {
    background-color: #3A546D;
    color: white;
}

#bottom-footer {
    background-color: #2C3E50;
    color: white;
}

footer span {
    display: block;
}

footer i {
    color: white;
}